@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Gabarito:wght@600;700&family=Lato:wght@300;700&family=Merriweather:wght@900&family=Oswald:wght@400;500;600&family=Poppins:wght@500&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@400;500;700;900&family=Rubik:wght@500&display=swap'); 

/* regularisation du navbar et de ces contenu */

/* ************************* the navbar bouton menu hamburger ************************************** */
  .bar1, .bar2, .bar3 {
    width: 26px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border: 1px solid black;
    border-radius: 10%;
  }
  .navbar-toggler{
    border: none !important;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 16px;
  }


  /* ****************************************the navbar brand**************************************************************** */
  .navbar-brand{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 30px;
    letter-spacing: -0.07rem;
    word-spacing: -0.1rem;
  }
  .nav-item{
    transition: .53s border linear ;
  }
  .nav-item:hover{
    border-bottom: 1px solid #1876f2;
    align-items: stretch;
  }
  .navbar-brand img{
    width: 55px;
    height: 58px;
    object-fit: cover;
    margin-top: 5px;
  }

  .navbar-brand span{
    font-size: 6px;
    font-weight: 300;
}

@media(max-width:1024px){
  .navbar-brand{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 27px;
    letter-spacing: -0.07rem;
    word-spacing: -0.1rem;
  }
  .nav-item{
    margin: 0 4px;
  }
  .navbar-brand img{
    width: 50px;
    height: 53px;
    object-fit: cover;
    margin-top: 5px;
  }

}

  .divider {
    font-size: 30px;
    display: flex;
    align-items: center;
    width: 100px;
    position: absolute;
    left: 74px;
    top:56%;
  }
  .divider img{
    width: 18px;
    height: 18px;
    object-fit: contain;
    border-radius: 30%;
  }
  
  .divider::before, .divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color:rgb(5, 72, 196);
    margin: 5px;
  }

  .nav-link{
    font-size: 20px;
    font-weight: 500;
    color: #383838;
    font-family: "Oswald";
  }

  #nav {
    background-color: whitesmoke;
    position: fixed;
    top: -150px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 100;
    padding: 0;
  }
  @media(max-width:986px){
    #navbar{
        padding: 0 0;
        align-items: center;
    }
    .navbar-brand{
        font-size: 18px;
        letter-spacing: -0.1rem;
        word-spacing: -0.1rem;
    }
    .navbar-brand img{
  width: 45px;
  height: 46px;
  margin-top: 7px;
    }
    .nav-item:hover{
      border-bottom: none;
      align-items: stretch;
    }
    
  .divider {
    font-size: 1px;
    display: flex;
    align-items: center;
    width: 100px;
    left: 56px;
    top:52%;
  }
  .divider img{
    width: 17px;
    height: 17px;
    object-fit: contain;
  }
  
  .divider::before, .divider::after {
    flex: 1;
    content: '';
    padding:1px;
    background-color:rgb(5, 72, 196);
    margin:6px;
    width: 20px;
  }
    
  }

  /* ***************************the nav link and nav item ******************************* */
.nav-item{
margin: 4px 10px;
  }


