@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Gabarito:wght@600;700&family=Lato:wght@300;700&family=Merriweather:wght@900&family=Oswald:wght@400;500;600&family=Poppins:wght@500&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&family=Rubik:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body{
  font-family: "Roboto condensed";
  background-color: whitesmoke;
}